.header {
  background: #000;
  color: #fff;
  height: 56px;
  border-bottom: 1px solid #fff;
  margin-bottom: 24px;
}
.name {
  line-height: 56px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.name::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25%;
  height: 2px;
  background-color: var(--primary-red);
  margin-left: -2px;
  margin-right: -2px;
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
}
.name:hover::after,
.name:focus::after,
.name:active::after {
  transform: scaleX(1);
}
.headerInnerContainer {
  max-width: 960px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}
.nav {
  margin-left: auto;
  line-height: 56px;
}
.nav a:any-link {
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
  height: 56px;
  display: inline-block;
}
.nav a:any-link:hover,
.nav a:any-link:focus,
.nav a:any-link:active {
  background-color: #fff;
  color: #000;
}
