#blog-article {
  ul {
    list-style-type: square;
    list-style-position: outside;
  }

  ol {
    list-style: decimal outside;
  }

  hr {
    padding: 0;
    height: 2px;
    background: #000;
    border: none;
    margin: 32px 16px;
  }
}
