@import (inline) './font.css';

:root {
  --primary-red: #f04c63;
  --primary-blue: #51c5dd;
  --blue-dark: #0a4f70;
  --neutral-grey: #c6c4c4;
}

@import './baseline.less';

@import './typography.less';

ul,
ol {
  list-style-type: square;
  list-style-position: inside;
  counter-reset: none;

  &:not(.list) {
    list-style: none;
  }
}
