<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Private, so shouldn't be indexed -->
    <meta name="robots" content="noindex" />

    <title>Answer templates | giffgaff community help</title>

    <script src="/js/redirect-script.js" async></script>

    <link
      rel="preload"
      href="https://static.giffgaff.com/fonts/1.0.0/giffgaff-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="https://static.giffgaff.com/fonts/1.0.0/giffgaff-medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="preload" href="https://static.giffgaff.com/fonts/1.0.0/giffgaff-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="https://static.giffgaff.com/fonts/1.0.0/font.css" as="style" />
    <link rel="preload" href="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js" as="script" />
    <link rel="preload" href="https://www.gstatic.com/firebasejs/7.14.6/firebase-analytics.js" as="script" />

    <link rel="preload" href="/img/gg-img/aff-large.png" as="image" media="(min-width: 728px)" />
    <link rel="preload" href="/img/gg-img/aff-med.png" as="image" media="(min-width: 550px and max-width: 727px)" />
    <link rel="preload" href="/img/gg-img/aff-small.png" as="image" media="(max-width: 549px)" />

    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/custom-components.min.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
  </head>
  <body class="qa-section">
    <gg-header></gg-header>
    <main id="main-content" class="gg-t-wild-sand black-masthead">
      <div class="gg-u-digital-noise-chunky gg-u-digital-noise-chunky--no-padding">
        <header class="gg-c-masthead-minor">
          <div class="gg-c-masthead__content">
            <h1 class="gg-u-text-megaphone gg-u-doodle-squiggle gg-u-doodle-squiggle--light-pink">
              Answer templates
            </h1>
            <p class="gg-c-masthead__page-subtitle">
              A bunch of pre-written answers for use on Help & Support on the giffgaff community. Click the button to copy!
            </p>
          </div>
        </header>
        <div id="copy-container">
          <div class="gg-t-light-pink">
            <div class="gg-o-page-section">
              <h2 class="gg-u-text-louder gg-u-mb-tiny">
                Seasonal answers
              </h2>
              <div class="button-container" id="seasonal-buttons"></div>
            </div>
          </div>
          <div class="gg-o-page-section">
            <h2 class="gg-u-text-louder gg-u-mb-tiny">
              General
            </h2>
            <div class="button-container">
              <button class="gg-c-btn gg-c-btn--primary" data-title="footer">
                <span class="gg-c-btn__switch">Footer</span>
              </button>
              <button class="gg-c-btn" data-title="contact an agent">
                <span class="gg-c-btn__switch">Contact an agent</span>
              </button>
            </div>
          </div>
          <div class="gg-t-white">
            <div class="gg-o-page-section">
              <h2 class="gg-u-text-louder gg-u-mb-tiny">
                Common issues
              </h2>
              <div class="button-container">
                <button class="gg-c-btn gg-c-btn--small" data-title="lost sim and phone">
                  <span class="gg-c-btn__switch">Lost phone</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="lost sim">
                  <span class="gg-c-btn__switch">Lost SIM</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="phishing">
                  <span class="gg-c-btn__switch">Phishing attempt</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="sim swap">
                  <span class="gg-c-btn__switch">SIM swap</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="start goodybag early">
                  <span class="gg-c-btn__switch">Start next goodybag early</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="sim problems">
                  <span class="gg-c-btn__switch">Service/SIM problems</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="adult content block">
                  <span class="gg-c-btn__switch">Adult content block</span>
                </button>
              </div>
            </div>
          </div>
          <div class="gg-o-page-section">
            <h2 class="gg-u-text-louder gg-u-mb-tiny gg-u-mt-small">
              Joining giffgaff
            </h2>
            <div class="button-container">
              <button class="gg-c-btn gg-c-btn--small" data-title="apn settings">
                <span class="gg-c-btn__switch">APN settings</span>
              </button>
              <button class="gg-c-btn gg-c-btn--small" data-title="imessage number reset">
                <span class="gg-c-btn__switch">iMessage reset</span>
              </button>
              <button class="gg-c-btn gg-c-btn--small" data-title="problems after number reset">
                <span class="gg-c-btn__switch">Number transfer issues</span>
              </button>
              <button class="gg-c-btn gg-c-btn--small" data-title="unlock phone">
                <span class="gg-c-btn__switch">Unlock phone</span>
              </button>
              <button class="gg-c-btn gg-c-btn--small" data-title="lol u bad no helpline">
                <span class="gg-c-btn__switch">No helpline!</span>
              </button>
            </div>
          </div>
          <div class="gg-t-white">
            <div class="gg-o-page-section">
              <h2 class="gg-u-text-louder gg-u-mb-tiny">
                Useful responses
              </h2>
              <div class="button-container">
                <button class="gg-c-btn gg-c-btn--small" data-title="credit not goodybag">
                  <span class="gg-c-btn__switch">Credit vs goodybags</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="EU Roam Like At Home">
                  <span class="gg-c-btn__switch">RLAH</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="get a new gg number">
                  <span class="gg-c-btn__switch">New giffgaff number</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="always on not unlimited">
                  <span class="gg-c-btn__switch">Always On vs Unlimited</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="always on £25 goodybag ban">
                  <span class="gg-c-btn__switch">Always On ban</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="Referral payback">
                  <span class="gg-c-btn__switch">Referral payback</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="Number recycling">
                  <span class="gg-c-btn__switch">Number recycling (6 mths)</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="family account">
                  <span class="gg-c-btn__switch">Multiple SIMs</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="2 SIMs 1 Number">
                  <span class="gg-c-btn__switch">2 SIMs 1 Number</span>
                </button>
              </div>
            </div>
          </div>
          <div class="gg-o-page-section">
            <h2 class="gg-u-text-louder gg-u-mb-tiny gg-u-mt-small">
              Leaving giffgaff
            </h2>
            <div class="button-container">
              <button class="gg-c-btn gg-c-btn--small" data-title="leaving giffgaff">
                <span class="gg-c-btn__switch">Leave (+ PAC)</span>
              </button>
              <button class="gg-c-btn gg-c-btn--small" data-title="close account">
                <span class="gg-c-btn__switch">Close your account</span>
              </button>
            </div>
          </div>
          <div class="gg-t-white">
            <div class="gg-o-page-section">
              <h2 class="gg-u-text-louder gg-u-mb-tiny">
                giffgaff phones
              </h2>
              <div class="button-container">
                <button class="gg-c-btn gg-c-btn--small" data-title="return phone">
                  <span class="gg-c-btn__switch">Return phone</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="change phone order">
                  <span class="gg-c-btn__switch">Change phone order</span>
                </button>

                <button class="gg-c-btn gg-c-btn--small" data-title="ratesetter loan">
                  <span class="gg-c-btn__switch">Pay Monthly</span></button
                ><button class="gg-c-btn gg-c-btn--small" data-title="repair phone">
                  <span class="gg-c-btn__switch">Repair phone</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="giffgaff locked phone">
                  <span class="gg-c-btn__switch">Unlock giffgaff phone</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="ratesetter-contact">
                  <span class="gg-c-btn__switch">RateSetter contact</span>
                </button>
              </div>
            </div>
          </div>
          <div class="gg-o-page-section">
            <h2 class="gg-u-text-louder gg-u-mb-tiny gg-u-mt-small">
              Advanced responses
            </h2>
            <div class="button-container">
              <button class="gg-c-btn gg-c-btn--small" data-title="rcs">
                <span class="gg-c-btn__switch">RCS messaging</span>
              </button>
              <button class="gg-c-btn gg-c-btn--small" data-title="apple watch esim">
                <span class="gg-c-btn__switch">Apple Watch Cellular</span>
              </button>
              <button class="gg-c-btn gg-c-btn--small" data-title="Network shortcodes/balance or goodybag info">
                <span class="gg-c-btn__switch">Network shortcodes</span>
              </button>
              <button class="gg-c-btn gg-c-btn--small" data-title="imessage advanced">
                <span class="gg-c-btn__switch">Advanced iMessage troubleshooting</span>
              </button>
            </div>
          </div>
          <div class="gg-t-white">
            <div class="gg-o-page-section">
              <h2 class="gg-u-text-louder gg-u-mb-tiny">
                Miscellaneous
              </h2>
              <div class="button-container">
                <button class="gg-c-btn gg-c-btn--small" data-title="reset password">
                  <span class="gg-c-btn__switch">Reset password</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="high-roam">
                  <span class="gg-c-btn__switch">High roam</span>
                </button>
                <button class="gg-c-btn gg-c-btn--small" data-title="cheap-roam">
                  <span class="gg-c-btn__switch">Low roam</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/templates/script.js"></script>
    <script src="/templates/seasonal.js"></script>
    <gg-footer></gg-footer>
    <script>
      new ClipboardJS(document.querySelectorAll('#copy-container button.gg-c-btn'), {
        text: function (trigger) {
          return idToText(trigger.getAttribute('data-title'));
        },
      });

      function idToText(title) {
        obj = templates.filter(obj => obj.title.toLowerCase() === title.toLowerCase())[0];

        return `\n\n` + (obj.addFooter ? (obj.content || '') + (obj.content ? `\n\n` : ``) + footer : obj.content || '');
      }
    </script>
  </body>
</html>
